@page "/counter"
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCountNoWorker</p>


<MudBlazor.MudButton @onclick="IncrementCount">Click me</MudBlazor.MudButton>

<p role="status">Current count: @currentCountWorker</p>

<MudBlazor.MudButton @onclick="IncrementCountWorker">Click me</MudBlazor.MudButton>

<p role="status">Current count B: @currentCount</p>


<MudBlazor.MudButton @onclick="TestButton">TEST</MudBlazor.MudButton>

@code {
    private int currentCount = 0;
    private int currentCountWorker = 0;
    private int currentCountNoWorker = 0;

    private async Task IncrementCount()
    {
        await HeavyComputeAsync();
        currentCountNoWorker += 3;
    }

    private async Task IncrementCountWorker()
    {
        await HeavyComputeAsync();
        currentCountWorker += 3;
    }

    private void TestButton()
    {
        currentCount += 1;
    }


    private static Task<int> HeavyComputeAsync()
    {
        return Task.Run(() =>
        {
            Console.WriteLine("Task start");

            for (long ndx = 0; ndx < 2000000; ++ndx)
                ndx.ToString();

            Console.WriteLine("Task end");
            return 0;
        });
    }
}
