<form @onsubmit="OnSubmit">
    <InputFile class="" style="display:inline-block" OnChange="OnInputFileChange" multiple />
    <button type="submit" class="action-button-table" style="display:inline-block">
        <span class="fa fa-upload control-color"></span>          &nbsp; Download Json
    </button>
</form>